!!!
%html{:lang => "en"}
  %head
    %title RailsTestApp
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'RailsTestApp', root_path, class: 'navbar-brand'
        / /.nav-collapse
    .container
      = render 'layouts/flash'
      = yield
  = javascript_pack_tag 'application'
